In [54]:
import pandas as pd

In [55]:
df = pd.read_csv('C:\\Users\\Ranjeet\\Desktop\\order.csv')
df

,order_id,customer_id,order_date,product_id,product_name,product_price,quantity
0,1,101,10/1/2023,201,A,1000,1
1,2,102,10/2/2023,202,B,500,2
2,3,103,10/2/2023,203,C,300,1
3,4,104,10/3/2023,204,D,4000,2
4,5,105,10/4/2023,205,E,3000,3
5,6,106,10/5/2023,206,F,6000,4
6,7,107,10/5/2023,207,G,7000,2
7,8,108,10/6/2023,208,I,2000,1
8,9,109,10/7/2023,209,J,15000,2
9,10,110,10/8/2023,210,K,1520,3
10,11,111,10/9/2023,211,L,1320,4
11,12,112,10/3/2023,212,M,1600,5
12,13,113,10/4/2023,213,N,1800,2
13,14,114,10/5/2023,214,O,5000,6

In [56]:
from datetime import datetime
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')

In [57]:
df['order_date']

0    2023-10-01
1    2023-10-02
2    2023-10-02
3    2023-10-03
4    2023-10-04
5    2023-10-05
6    2023-10-05
7    2023-10-06
8    2023-10-07
9    2023-10-08
10   2023-10-09
11   2023-10-03
12   2023-10-04
13   2023-10-05
Name: order_date, dtype: datetime64[ns]

In [58]:
df['month'] = df['order_date'].dt.to_period('M')
df['month']

0     2023-10
1     2023-10
2     2023-10
3     2023-10
4     2023-10
5     2023-10
6     2023-10
7     2023-10
8     2023-10
9     2023-10
10    2023-10
11    2023-10
12    2023-10
13    2023-10
Name: month, dtype: period[M]

In [59]:
# Task 1: Compute total revenue generated by the online store for each month
monthly_revenue = df.groupby('month')['product_price'].sum()

In [60]:
print("Total revenue generated by the online store for each month:")
print(monthly_revenue)

Total revenue generated by the online store for each month:
month
2023-10    50040
Freq: M, Name: product_price, dtype: int64

In [61]:
# Task 2: Compute total revenue generated by each product
product_revenue = df.groupby('product_name')['product_price'].sum()

In [62]:
print("\nTotal revenue generated by each product:")
print(product_revenue)

Total revenue generated by each product:
product_name
A     1000
B      500
C      300
D     4000
E     3000
F     6000
G     7000
I     2000
J    15000
K     1520
L     1320
M     1600
N     1800
O     5000
Name: product_price, dtype: int64

In [63]:
# Task 3: Compute total revenue generated by each customer
customer_revenue = df.groupby('customer_id')['product_price'].sum()

In [64]:
print("\nTotal revenue generated by each customer:")
print(customer_revenue)

Total revenue generated by each customer:
customer_id
101     1000
102      500
103      300
104     4000
105     3000
106     6000
107     7000
108     2000
109    15000
110     1520
111     1320
112     1600
113     1800
114     5000
Name: product_price, dtype: int64

In [65]:
# Task 4: Identify top 10 customers by revenue generated
top_customers = customer_revenue.nlargest(10)

In [68]:
print("\nTop 10 customers by revenue generated:")
print(top_customers)

Top 10 customers by revenue generated:
customer_id
109    15000
107     7000
106     6000
114     5000
104     4000
105     3000
108     2000
113     1800
112     1600
110     1520
Name: product_price, dtype: int64